extends layout

block content
    h1 Welcome to BS-Commerce
    .container
        .row
            .btn.btn-default
                a(href='/testTheme/user/signUp') Sign up
            .btn.btn-default
                a(href='/signin') Sign in